<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TEHNIKUM-HACKATHON</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/fonts/fonts (2).css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="contentBlock">

    <div class="container">

        <div class="name" ><h3>TEHNIKUM DIGITAL<br>HACKATHON 2023</h3></div>
        <ul class="timer">
            <li id="days">
                <span class="value">00</span>
                <p class="desc">Дней</p>
            </li>

            <li id="hours">
                <span class="value">00</span>
                <p class="desc">Часов</p>
            </li>

            <li id="minutes">
                <span class="value">00</span>
                <p class="desc">Минут</p>
            </li>

            <li id="seconds">
                <span class="value">00</span>
                <p class="desc">Секунд</p>
            </li>
        </ul>
        <h1>ОКОНЧАНИЕ ХАКАТОНА: 14:04:2023</h1>
    </div>
</div>







<script src="../static/js/countdown.js"></script>
</body>









<!--<div class="wrap">-->
<!--    <div class="container">-->
<!--        <h1>TEHNIKUM-HACKATHON</h1>-->
<!--        <ul class="countdown">-->
<!--            <li id="days">-->
<!--                <span class="timer">00</span>-->
<!--                <p class="name">Дней</p>-->
<!--            </li>-->
<!--            <li id="hours">-->
<!--                <span class="timer">00</span>-->
<!--                <p class="name">Часов</p>-->
<!--            </li>-->
<!--            <li id="minutes">-->
<!--                <span class="timer">00</span>-->
<!--                <p class="name">Минут</p>-->
<!--            </li>-->
<!--            <li id="seconds">-->
<!--                <span class="timer">00</span>-->
<!--                <p class="name">Секунд</p>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->



