<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEHNIKUM-HACKATHON</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/fonts/fonts (2).css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap">
    <link rel="stylesheet" href="../static/css/new.css">
</head>
<body>

<div class="container">
  <div class="head">
      <h3>TEHNIKUM DIGITAL<br>HACKATHON 2023</h3>
  </div>
  <div class="timer">
      <ul class="timer">
          <li id="days">
            <span class="value">00</span>
            <p class="desc">Дней</p>
          </li>

          <li id="hours">
            <span class="value">00</span>
            <p class="desc">Часов</p>
          </li>

          <li id="minutes">
            <span class="value">00</span>
            <p class="desc">Минут</p>
          </li>

          <li id="seconds">
            <span class="value">00</span>
            <p class="desc">Секунд</p>
          </li>
      </ul>
  </div>

  <div class="end">
      <h1>ОКОНЧАНИЕ ХАКАТОНА: 14:04:2023</h1>
  </div>

  <script src="../static/js/countdown.js"></script>
</div>

</body>
</html>